<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{meta_description}}</title>
		<meta name="description" content="{{meta_description}}">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="cleartype" content="on">

		<link rel="shortcut icon" href="{{asset "favicon.ico"}}">
		<link rel="stylesheet" type="text/css" href="{{asset "css/style.min.css"}}" />

		{{ghost_head}}
	</head>
	<body class="{{body_class}}">

		{{> site-head}}

		{{navigation}}

		<div role="main">
			{{{body}}}
		</div>

		{{ghost_foot}}

		<script type="text/javascript" src="{{asset "js/main.min.js"}}"></script>
	</body>
</html>
